header {
    //border: 2px solid white;
    padding: 15px;
}

body {
    border: 1px solid rgb(0, 17, 255);
    background-image: url(https://wallpapercave.com/uwp/uwp1555001.png);
}

nav {

}

menu {
    width: 25%;
}

main {
    width: 50%;
}

section {

}

aside {
    width: 25%;
}

article {

}

footer {
}

div {
    border: 2px thick dotted white
}